{% extends 'base.html' %}

{% block content %}
	{% if name %}
		<h1>Update user!</h1>
		<br/>
		<br/><br/><br/>
		<table class="table table-hover table-bordered table-striped">
		{% for our_user in our_users %}
			<tr>
				<td> {{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }} </td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<h1>Update user...:</h1>
		<br/>
		<div class="shadow p-3 mb-5 bg-body rounded">
			<form action="/update/{{ user_to_update.id }}" method="POST">
				{{ form.hidden_tag() }}

				{{ form.name.label(class="form-label") }}
				{{ form.name(class="form-control", value=user_to_update.name) }}
				<br/>
				{{ form.email.label(class="form-label") }}
				{{ form.email(class="form-control", value=user_to_update.email) }}
				<br/>

				{{ form.submit(class="btn btn-secondary") }}
			</form>
		</div>
	{% endif %}
{% endblock %}
