{% extends 'base.html' %}

{% block content %}

	<h1>Update user...:</h1>
	<br/>
	<div class="shadow p-3 mb-5 bg-body rounded">
		<form action="/update/{{ user_to_update.id }}" method="POST">
			{{ form.hidden_tag() }}

			{{ form.name.label(class="form-label") }}
			{{ form.name(class="form-control", value=user_to_update.name) }}
			<br/>
			{{ form.username.label(class="form-label") }}
			{{ form.username(class="form-control", value=user_to_update.username) }}
			<br/>
			{{ form.email.label(class="form-label") }}
			{{ form.email(class="form-control", value=user_to_update.email) }}
			<br/>
			{{ form.favorite_color.label(class="form-label") }}
			{{ form.favorite_color(class="form-control", value=user_to_update.favorite_color) }}
			<br/>
			{{ form.submit(class="btn btn-secondary") }}
			<a href="{{ url_for('delete', id=user_to_update.id) }}" class="btn btn-danger">Delete</a>
		</form>
	</div>

{% endblock %}
